<div class="center jumbotron">
  <h1>Welcome to B&N Bookstore </h1>
  <% if !logged_in? && !logged_in_admin? %>
    <h2>
      Please Log in or Sign up to access our book store!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <h2>You are logged in.</h2>
  <% end %>
</div>
