<%= link_to opinion_book(opinion.book_id), book_path(opinion.book_id) %>

<table class="opinion-table">
  <tr>
    <td>Score: </td>
    <td><%= opinion.score %></td>
  </tr>
  <tr>
    <td>Opinion: </td>
    <td><%= opinion.text %></td>
  </tr>
  <tr>
    <td>Average Rating of Opinion: </td>
    <td><% if opinion.avg_rating!=nil %>
          <%= opinion.avg_rating %>
        <% else %>
          -
        <% end %>
    </td>
  </tr>
</table>
