<% provide(:title, "Search Results") %>
<% provide(:button_text, "Search") %>
<div class="page-header">
  <h1>Search our Books</h1>
</div>

<div class="row search-div">
  <%= render 'form' %>
</div>

<div class="page-header">
  <h1>Search Results</h1>
</div>

<div class="row">
  <ul class="list-book">
    <% if @books.any? %>
      <%= render @books %>
    <% else %>
      <p style="text-align: center;">
        Sorry! There are no books that match your search query. :(
      </p>
    <% end %>
  </ul>
</div>
